* {
    padding: 0;
    margin: 0;
}

.but {
    /* margin: auto; */
    height: 50px;
    width: 140px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 25px;

}

.a1:focus{
    animation:main 2s infinite ease-in-out;
    /* background-color: red; */
}
.a2:focus{
    animation: main 2s infinite ease-in-out;
}

.ob {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    animation:back 5s ease-in-out 2s infinite forwards forwards;
    background: linear-gradient( rgb(234, 46, 46), rgb(221, 221, 45), rgb(13, 225, 172));
}
.ob:focus{
    /* animation: back 1s ease-in-out 2s infinite forwards forwards; */
}
@keyframes back {
    0%{
        transform: rotate(0deg);
    }
    /* 20%{
        transform: rotate(72deg);
    }
    40%{
        transform: rotate(144deg);
    }
    60%{
        transform: rotate(216deg);
    }
    80%{
        transform: rotate(288deg);
        
    } */
    
    100%{
        transform: rotate(90deg);
        
    }
    
}

@keyframes main {
    0% {
        background-color: rgb(174, 242, 37);
    }
    
    100% {
        background: linear-gradient(rgb(49, 228, 234), rgb(38, 234, 234));
    }
}

@keyframes two { 
       0%{
           background-color: aqua;
        } 
        20%{
        
        }
    
        
    } 
    
@keyframes mymove {
    0% {
        top: 0px;
    }

    25% {
        top: 200px;
    }

    50% {
        top: 100px;
    }

    75% {
        top: 200px;
    }

    100% {
        top: 0px;
    }
}